header {
    text-align: center;
}

/* Pokedex */

#pokedex {
    margin-top: 50px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.pokemon-sprite {
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 20px;
}

.pokemon-types {
    display: flex;
    justify-content: start;
}

.type-pill {
    margin-right: 10px;
    border-radius: 5px;
}

.fire-color {
    background-color: red;
}